<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

In [40]:
import numpy as np

# 1 There is more to `if`

To use `if` to make decisions we need to be able to ask questions; some of which might be complicated. Let’s now look at a few more examples of how we can do this.

In [2]:
name = 'marry'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello World!

# 2 Asking questions

In [4]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

### Example 1: 
Is 'apple' in the list `fruits`?

In [5]:
'apple' in fruits

True

### Example 2: 
Is 'peach' in the list `fruits`?

In [6]:
'peach' in fruits

False

### Example 3: 
Is 'peach' not in the list `fruits`?

In [7]:
'peach' not in fruits

True

### Example 4: 
Is ‘apple’ in the list `fruits` **and** is ‘celery’ in the list `vegetables`?

In [8]:
('apple' in fruits) and ('celery' in vegetables)

True

### Example 5: 
Is ‘apple’ in the list `fruits` **or** is ‘celery’ in the list `vegetables`?

In [9]:
('apple' in fruits) or ('celery' in vegetables)

True

### Example 6: 
Is ‘app’ in ‘apple’?

In [10]:
'app' in 'apple'

True

- **keywords**: `not`, `in`, `and`, `or`
- only **same type** can be compared

In [11]:
'apple' > 3

TypeError: '>' not supported between instances of 'str' and 'int'

In [12]:
'apple' > 'orange' # the first letter is compared (a represent 97 and o represent 111)

False

In [13]:
3 > 10.5

False

## Asking Math Questions

- equal? `==`
- not equal? `!=`
- less than? `<`
- greater than? `>`
- less than or equal? `<=`
- greater than or equal? `>=`

In [ ]:
# Python also accepts the following syntax:

x > 5 and x < 15
(x > 5) and (x < 15)
5 < x < 15

# The last format is the easiest to read

# 4 Python stores information in different formats or types

use `type()` to check the type of the information stored.

### Example 1
As an integer (`int`).
Notice how this ends up dropping the decimal portion!

In [14]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

### Example 2
As an English word (`str`).

In [15]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

### Example 3
As a decimal number (`float`).

In [16]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

### Example 4
As a complex number (`complex).
This will include an imaginary part of the number.

In [17]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

[more types of data](https://realpython.com/python-data-types/)

### Change the type of variables

In [18]:
x = '1.234'        # x is a string
print(x, type(x))

1.234 <class 'str'>

In [20]:
x = float(x)       # x is now a decimal number
print(x, type(x))  # we cast x to the type float here

1.234 <class 'float'>

# 5 Never compare floats directly

## The problem

Since computers have finite (hardware) resources, floating point numbers cannot be exactly stored in a computer. This leads to errors called <font color=orange>roundoff errors<font color=black>.

In [21]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

We are expecting to see `True` but Python returns us `False`. 
<br>Print 0.3 to 17 decimal places:

In [22]:
f'{0.3:.17f}'

'0.29999999999999999'

In [ ]:
M

Hence 0.3 `!=` 0.29999999999

## A solution

In [24]:
a*3 - a3

5.551115123125783e-17

Thus, instead of checking whether the two float variables are euqal, check if the variables are **close** to the expected values.

In [23]:
eps = 1E-10
abs(a * 3 - a3) < eps

True

i.e. if the two values are close enough then they are equal.

# 6 Combining Strings and variables

### Example 1

In [25]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

`f`, `{}`: **f-string** treats the things in the {} as variable.
<br> it is called **string interpolation**

### Example 2

In [26]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

### Example 3

In [27]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

### Formatting a string or number

#### Example 1

In [30]:
# Using f-stirngs to format text(stirngs)
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [31]:
print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right

        Bruce Wayne is Batman.

In [32]:
print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.

In [33]:
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned center

    Bruce Wayne is Batman.

In [35]:
print(f'{text:-^60}')      # A block of 30 characters;
                           # aligned center; add dashes

-------------------Bruce Wayne is Batman.-------------------

In [36]:
print(f'{text:x^60}')      # A block of 30 characters;
                           # aligned center; add xxxx

xxxxxxxxxxxxxxxxxxxBruce Wayne is Batman.xxxxxxxxxxxxxxxxxxx

In [37]:
print(f'{text:x>60}')      # A block of 30 characters;
                           # aligned right; add xxxx

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxBruce Wayne is Batman.

In [38]:
print(f'{text:x<60}')      # A block of 30 characters;
                           # aligned left; add xxxx

Bruce Wayne is Batman.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#### Example 2

In [41]:
# Using f-string to format numbers
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [49]:
# Using f-string to format numbers
print(f'22 two divided by 7 gives {22/7**3:20.6f}') # The output number is 20 digits long and it has 6 decimal places

22 two divided by 7 gives             0.064140

In [50]:
# Using f-string to format numbers
print(f'22 two divided by 7 gives {22/7**3:020.6f}') # put zeros in front

22 two divided by 7 gives 0000000000000.064140

In [51]:
# Using f-string to format numbers
print(f'22 two divided by 7 gives {22/7**3:05.3f}') # f means float, d means integer, g means python autho figure our the type
                                                    # 3 decimal places, 5 digits long

22 two divided by 7 gives 0.064

The general pattern of the code above:
<br>
```python
{X:>0Y.ZW}
```
where `X` is the variable (number or string), `>` is alignment (`<` left justified, `>` right justified, `^` centre justified), `0` is adding 0 in the front, `Y` is the number of digits/characters, `Z` is the number of decimal places and `W` is the type of variable

# 7 Escape Sequences

Special characters we sometimes need when writing English.

In [54]:
# to break a line or add a tab
print('Line 1\\x\n\tLine 2\n\t\tLine 3') # use \\x to tell Python that is it not an escape sequence

Line 1\x
	Line 2
		Line 3

`\n`: the command break line
<br>`\t`: horizontal tab
<br> `\'`: single quote
<br> `\\`: backslash

### Example 1: print '

In [55]:
print('You\'re twenty years old.')

You're twenty years old.

### Example 2: print \

In [58]:
# print \
print('A\\B\\C')

A\B\C

### Example 3: breaklines

In [59]:
print('A\nB\nC')

A
B
C

### Example 4: tabs

In [60]:
print('A\tB\tC')

A	B	C

# 8 Computers read = from Right to Left!

In [61]:
x = 40
y = x + 2

In [62]:
y = 40
y = y + 2
print(y)

42

In [63]:
x = y = 10  # Python also allows you to follow this syntax

# 9 Shorter and Cleaner Code

In [64]:
y = 40
y = y + 2
y

42

In [65]:
y = 40
y += 2    # Same as y = y + 2
y

42

we can replace `y = y + 2` with `y += 2`

|   |**Long form**|**Shorthand**|
|:--|:--:|:--:|
|Addition|'y = y+2'|'y +=2'|
|Substraction|'y = y-2'|'y -=2'|
|Multiplication|'y = y*2'|'y *=2'|
|Division|'y = y/2'|'y /=2'|

# 10 Python can be a prima-donna.

Fixing an error is called <font color=orange> debugging <font color=black>.

# 11 Best Practices for Scientific Computing

1. Write programs for people, not computers.
2. Optimise software only after it works correctly.
3. Document design and purpose, not mechanics.
4. Collaborate.